/* You can add global styles to this file, and also import other style files */
@import '@nordhealth/css/lib/nord.min.css';
@import '@toast-ui/calendar/dist/toastui-calendar.min.css';

@import 'bootstrap/scss/functions';

@import "bootstrap/scss/variables";

// 5. Include remainder of required parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/buttons";

html,
body {
  height: 100%;
  margin: 0;
}

:not(:defined) {
  visibility: initial;
}
